/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject/private/
nbproject/project.properties
app/config/database.php
nbproject/project.xml
cob_db.sql
